{
  "endOfLine": "auto",
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "proseWrap": "always"
      }
    },
    {
      "files": "*.json5",
      "options": {
        "parser": "json"
      }
    }
  ]
}
