name: CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

concurrency:
  # For PRs, use the ref (branch) in the concurrency group so that new pushes cancel any old runs.
  # For pushes to main, ideally we wouldn't set a concurrency group, but github actions doesn't
  # support conditional blocks of settings, so we use the SHA so the "group" is unique.
  group: ${{ github.workflow }}-${{ github.ref == 'refs/heads/main' && github.sha || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Run on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Set up Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version-file: .nvmrc

      - name: yarn
        run: yarn --frozen-lockfile

      - name: verify change files
        # Only run OS-agnostic checks on ubuntu (this also makes the windows build less slow)
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: yarn checkchange

      - name: check package versions
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: yarn syncpack:check

      - run: yarn build

      - run: yarn lint
        if: ${{ matrix.os == 'ubuntu-latest' }}

      - run: yarn format:check
        if: ${{ matrix.os == 'ubuntu-latest' }}

      - run: yarn test
